config.js
client/dist/bundle.js
client/src
node_modules
npm-debug.log
db/pg/*
db/pg/reviewsSchema.sql
db/pg/dummyData.js
db/pg/buildReviewsData.js
db/pg/buildRestaurantData.js
db/pg/buildUserData.js
.git
.gitignore